.button {
  align-self: center;

  button {
    font-size: 16px;
    background-color: #146c94;
    color: #ffffff;
    cursor: pointer;
    border-radius: 20px;
    border: none;
    height: 40px;
    margin-bottom: 20px;
  }
}
